{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="justify-content-center col-12 mt-4">
            <div class="card">
                <!-- <img class="card-img-top" src="holder.js/100x180/?text=Image cap" alt="Card image cap"> -->
                <div class="card-body">
                    <h4 class="card-title">Welcome message</h4>
                    <p class="card-text">Hello. World</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}